@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.ClaimModel>
@{
  Layout = "_layout.cshtml";
}

<h1>Claim: @Model.Name <small>Application: <a href="/app/@Model.App.Name/">@Model.App.Name</a></small></h1>
<h4>Roles:</h4>

@if(@Model.Roles != null && @Model.Roles.Length > 0)
{
    int index = 0;
    foreach(SSAManager.Role role in Model.Roles)
    {
        if(index > 0){<span>,</span>}
        <a href="/app/@Model.App.Name/role/@role.Name">@role.Name</a>
        ++index;
    }
}
else
{
    <p>No roles are using this claim</p>
}

 <h4>Users:</h4>
 <ul>
 @foreach(SSAManager.User user in Model.Users){
    <li>@user.Username</li>
 }
 </ul>

 <form action="/app/@Model.App.Name/claim/@Model.Name" method="post">
    <!-- <input class="btn btn-success" type="submit" name="Save" value="Save" /> -->
    <a class="btn" href="/app/@Model.App.Name/">Cancel</a>
    <input class="pull-right btn btn-danger" type="submit" name="Delete" value="Delete" />
 </form>