@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.ManageModel>
@{
  Layout = "_layout.cshtml";
}   
<h3><i class="fa fa-building-o" aria-hidden="true"></i> Domains you own <a href="~/domain/new"><small><span class="glyphicon glyphicon-plus-sign"></span> New</small></a></h3>
<div>      
@if(@Model.Domains != null && @Model.Domains.Length > 0)
{
    <table class="table table-striped">
	<tr>
    <th></th>
	<th>Name</th>
    <th>Users</th>
	<th>Active</th>
    <th>Created</th>
	</tr>
    @foreach(var domain in @Model.Domains)
    {
		<tr>
        <td>
        @if(@domain.Enabled)
        { 
            <i class="fa fa-check" aria-hidden="true" style="color:green"></i> 
        }
	    else
	    {
            <i class="fa fa-minus-circle" aria-hidden="true" style="color:red"></i>
        }
        </td>
        <td><a href="~/domain/@domain.Id">@domain.Name</a></td>
		<td>@domain.UserCount</td>
        <td>@domain.Enabled</td>
        <td>@domain.CreatedAt.ToLongDateString() @domain.CreatedAt.ToLongTimeString()</td>
        </tr>
    }
	</table>
}
else
{
    <p>No domains have been created. Click new to create an domain.</p>
}
</div>

<h3><i class="fa fa-building" aria-hidden="true"></i> Domains you administrate</h3>
<div>      
@if(@Model.AdminDomains != null && @Model.AdminDomains.Length > 0)
{
    <table class="table table-striped">
    <tr>
    <th></th>
    <th>Name</th>
    <th>Users</th>
    <th>Active</th>
    <th>Created</th>
    </tr>
    @foreach(var domain in @Model.AdminDomains)
    {
        <tr>
        <td>
        @if(@domain.Enabled)
        { 
            <i class="fa fa-check" aria-hidden="true" style="color:green"></i> 
        }
        else
        {
            <i class="fa fa-minus-circle" aria-hidden="true" style="color:red"></i>
        }
        </td>
        <td><a href="~/domain/@domain.Id">@domain.Name</a></td>
        <td>@domain.UserCount</td>
        <td>@domain.Enabled</td>
        <td>@domain.CreatedAt.ToLongDateString() @domain.CreatedAt.ToLongTimeString()</td>
        </tr>
    }
	</table>
}
else
{
    <p>You are administrator of no domains</p>
}
</div>
  