@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.ClaimModel>
@{
  Layout = "_layout.cshtml";
}

<h1>Claim Details</h1>
<h3>Name: @Model.Name</h3>
<h3>Domain: <a href="/domain/@Model.Domain.Id/">@Model.Domain.Name</a></h3>


<h4><i class="fa fa-user-circle-o" aria-hidden="true"></i> Roles:</h4>
@if(@Model.Roles != null && @Model.Roles.Length > 0)
{
    foreach(Role role in Model.Roles)
    {
        <a href="/domain/@Model.Domain.Id/role/@role.Name">@role.Name</a>
    }
}
else
{
    <p>No roles are using this claim</p>
}

<h4><i class="fa fa-users" aria-hidden="true"></i> Users:</h4>
@if(@Model.Users != null && @Model.Users.Length > 0)
{
    foreach(User user in Model.Users)
    {
        <a href="/domain/@Model.Domain.Id/user/@user.Id">@user.UserName</a>
    }
}
else
{
    <p>No users have this claim.</p>
}

<hr />
<form action="/domain/@Model.Domain.Id/claim/@Model.Name" method="post">
    <!-- <input class="btn btn-success" type="submit" name="Save" value="Save" /> -->
    <a class="btn btn-default" href="/domain/@Model.Domain.Id/">Cancel</a>
    <input class="pull-right btn btn-danger" type="submit" name="Delete" value="Delete" />
</form>