@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.DomainModel>
@{
  Layout = "_layout.cshtml";
}
<form action="/domain/@Model.Domain.Id" method="post">
<h1><i class="fa fa-building-o" aria-hidden="true"></i> Domain Details</h1>
@if(Model.Domain.IsOwner(Model.Manager))
{
    <input type="submit" name="Delete" class="btn btn-danger pull-right" value="Delete" style="margin:5px;"
    onclick="return confirm('Are you sure you want to delete this domain? This will disable all applications using this key!');"/>

    if(Model.Domain.Enabled)
    {
        <input type="submit" name="Disable" class="btn btn-warning pull-right" value="Disable" style="margin:5px;"
        onclick="return confirm('Are you sure you want to disable this domain? Applications using this key will be down!');"/>
    }
    else
    {
        <input type="submit" name="Enable" class="pull-right btn btn-success" value="Enable" style="margin:5px;"/>
    }
}
<h3>Name : @Model.Domain.Name</h3>

<div class="row">
    <div class="col-md-4">
        <label for="Key"><i class="fa fa-key" aria-hidden="true"></i> Key:</label><pre>@Model.Domain.Key</pre><input class="btn btn-danger" type="submit" name="Generate" value="Generate" 
        onclick="return confirm('All applications using this key will need the new key assigned. Are you sure you want to generate a new key for this domain?');" />
    </div>
    <div class="col-md-8">
		<div class="form-group">
        <label for="WhiteListIps"><i class="fa fa-server" aria-hidden="true"></i> Allowed Server IPs:</label>
        <input type="text" name="WhiteListIps" style="width:100%;" class="form-control"
        value="@Helpers.Values(@Model.Domain.WhiteListIps)" placeholder="0.0.0.0, 0.0.0.0"/>
		</div>
        <input class="btn btn-success" type="submit" name="Update" value="update" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> Roles: <small><a href="/domain/@Model.Domain.Id/role/new">
            <span class="glyphicon glyphicon-plus-sign"></span> New</a></small></h3>
        <div>
            @if(@Model.Roles != null && @Model.Roles.Count > 0)
            {
                int index = 0;
                foreach(var role in @Model.Roles)
                {
                    if(index > 0){<span>,</span>}
                    <a href="/Domain/@Model.Domain.Id/role/@role.Name">@role.Name</a>
                    ++index;
                }
            }
            else
            {
                <p>No roles for this domain</p>
            }
        </div>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-lock" aria-hidden="true"></i> Claims: <small><a href="/domain/@Model.Domain.Id/claim/new"><span class="glyphicon glyphicon-plus-sign">
			</span> New</a></small></h3>

        <div>
            @if(@Model.Domain.Claims != null && @Model.Domain.Claims.Count > 0)
            {
                int index = 0;
                foreach(var claim in @Model.Domain.Claims)
                {
                    if(index > 0){<span>,</span>}
                    <a href="/domain/@Model.Domain.Id/claim/@claim">@claim</a>
                    ++index;
                }
            }
            else
            {
                <p>No claims for this domain</p>
            }
        </div>
    </div>
    <div class="col-md-4">
        <h3><i class="fa fa-user-o" aria-hidden="true"></i> Admins: 
        @if(Model.Domain.IsOwner(Model.Manager))
        {
            <small><a href="/domain/@Model.Domain.Id/admin/new">
            <span class="glyphicon glyphicon-plus-sign"></span> New</a>
			</small>
        }
		</h3>
        <div>
            @if(@Model.Admins != null && @Model.Admins.Count > 0)
            {
                int index = 0;
                foreach(var admin in @Model.Admins)
                {
                    if(index > 0){<span>,</span>}
                    <a href="/domain/@Model.Domain.Id/admin/@admin.Id">@admin.UserName</a>
                    ++index;
                }
            }
            else
            {
                <p>No admins for this domain</p>
            }
        </div>
    </div>
    <br style="clear:both;"/>
</div>
<div>
    <h3><i class="fa fa-users" aria-hidden="true"></i> Users:</h3> 
    <div>
	<table class="table table-striped">
    <tr>
    <th></th>
    <th>Name</th>
    <th>Online</th>
    <th>Last logon</th>
    <th>Created</th>
    </tr>
    @if(@Model.Users != null && @Model.Users.Count > 0)
    {
        foreach(var user in @Model.Users)
        {
            <tr>
		    <td><i class="fa fa-user" aria-hidden="true"></i></td>
            <td><a href="/domain/@Model.Domain.Id/user/@user.Id">@user.UserName</a></td>
			<td>@user.LastRequest</td>
            <td>@user.LastLogon</td>
            <td>@user.CreatedAt</td>
		    </tr>
        }
    }
    </table>
     @if(@Model.Users != null && @Model.Users.Count > 0) { <div> No Users Yet! </div>}
    </div>
</div>
</form>
