@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<SSAManager.RoleModel>
@{
  Layout = "_layout.cshtml";
}
<form action="/domain/@Model.Domain.Id/role/@Model.Role.Name" method="post">
<h1><i class="fa fa-user-circle-o" aria-hidden="true"></i> Role Details </h1>
<input type="submit" name="Delete" class="pull-right btn btn-danger" value="Delete" 
    onclick="return confirm('Are you sure you want to delete this role?');"/>
<h3>Name: @Model.Role.Name </h3>
<h3>
	<i class="fa fa-building-o" aria-hidden="true"></i> Domain: <a href="/domain/@Model.Domain.Id">@Model.Domain.Name</a>
</h3>
<div>
    <input id="Claims" type="hidden" name="Claims" value="@Helpers.Values(@Model.Claims)" />
    <h3><i class="fa fa-lock" aria-hidden="true"></i> Claims:</h3>
    @if(@Model.Domain.Claims != null)
    {
        foreach(string claim in @Model.Domain.Claims)
        {
            <div class="checkbox-inline">
            <label>
            @if(@Model.Role.HasClaim(claim))
            {
                <input type="checkbox" name="claim" value="@claim" checked /> @claim
            }
            else
            {
                <input type="checkbox" name="claim" value="@claim" /> @claim
            }
		    </label>
			</div>
        }
    }
    else
    {
        <span>
        There are no claims available to assign to this role. Claims can be created in the domain screen:
        <a href="/domain/@Model.Domain.Id/">@Model.Domain.Name</a>. Once created they will be available to assign them 
        to this role. 
        </span>
       
    }
</div>
<hr />
<h3><i class="fa fa-users" aria-hidden="true"></i> Users in this Role:</h3>

<input id="RoleUsers" type="hidden" name="RoleUsers" value="@Helpers.Values(@Model.RoleUsers)" />
<input id="uRoleUsers" type="hidden" name="uRoleUsers"  />
@if(@Model.Users != null && @Model.Users.Count > 0)
{
    foreach(User user in @Model.Users)
    {
        <div class="checkbox-inline">
        <label>
        @if(user.InRole(Model.Role.Name))
        {
            <input type="checkbox" name="user" value="@user.Id" checked /> @user.UserName
        }
        else
        {
            <input type="checkbox" name="user" value="@user.Id" /> @user.UserName
        }
		</label>
        </div>
    }
}
else
{
    <p>No users have registered for this domain yet.</p>
}
<hr />
<input type="submit" name="Save" class="btn btn-success" value="Save" />
<a class="btn btn-default pull-right" href="/domain/@Model.Domain.Id/">Cancel</a>
</form>